@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RrQfboBx-C5_XxrBaw.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hU4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGKBI4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGERI4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGdhI4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI4-6qm.ttf) format('truetype');
}
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6NUQ8FmMKwSEKjnm5-4v-4Jh2dJhfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg5g.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wXKrE3kQtZQ4pF3D51jcBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/tDbD2oWUg0MKqScQ6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/neIWzD2ms4wxr6GvjeD0X88SHPyX2xYOoguK.ttf) format('truetype');
}
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6NUT8F6PJgbFWQn47_x7pOskyQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FeVQS0BTqb0h60ACH55Q3Q.ttf) format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ahcbv8612zF4jxrwMosbUMlx.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLjOWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kmK-Zq45GAvOdnaW6y1C9y4.ttf) format('truetype');
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4UaHrEJCrhhnVA3DgluA96rp4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wlp_gwjKBV1pqhv43IQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/7cHmv4oii5K0MdYoK-s.ttf) format('truetype');
}
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/7cHrv4oii5K0Md6TDvs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/i7dNIFByZjaNAMxtZcnfAy5MR3K6.ttf) format('truetype');
}
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/uK_94ruUb-k-wn52Kjc.ttf) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/qWcuB6mzpYL7AJ2VfdQR1t-VWDw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/syky-y18lb0tSbf9kgqX.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/co3bmX5slCNuHLi8bLeY9MK7whWMhyjYqXtP.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjvYIg.ttf) format('truetype');
}
@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mem9YaCnxnKRiYZOCIYScr0.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SlGVmQWMvZQIdix7AFxXkHNSaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Qw3fZQZaHCLgIWa29ZBbNsIE.ttf) format('truetype');
}
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Yq6R-LCAWCX3-6Ky7FAFrOF6lw.ttf) format('truetype');
}
@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/_Xmr-H4zszafZw3A-KPSZut9wQiU.ttf) format('truetype');
}
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/j8_w6_fAw7jrcalD7oKYNX0QfAnPW7Dl5A.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/k3kUo8kEI-tA1RRcTZGmTlHGCaI.ttf) format('truetype');
}
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zY.ttf) format('truetype');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RWmMoKWR9v4ksMfaWd_JN9XFiaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/qWcyB624q4L_C4jGQ9IK0O_dFlnrtREg.ttf) format('truetype');
}
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/-F6xfjBsISg9aMakPm3wpg.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/a8IENpD3CDX-4zrWfr1VY879qFF05pZ7PIIK.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32kg.ttf) format('truetype');
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/m8JVjfNVeKWVnh3QMuKkFcZVaUuC.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W71msR349Lw.ttf) format('truetype');
}
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsS.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/sZlGdRyC6CRYbkQiwLBCRIAX.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/sZlGdRyC6CRYbkQipLNCRIAX.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sZlFdRyC6CRYbkQqD5FS.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/sZlGdRyC6CRYbkQi_LJCRIAX.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/sZlGdRyC6CRYbkQi0LVCRIAX.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/sZlGdRyC6CRYbkQitLRCRIAX.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/sZlEdRyC6CRYZo47GLZyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sZlEdRyC6CRYZuo4GLZyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sZlLdRyC6CRYbkEaCA.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/sZlEdRyC6CRYZrI5GLZyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sZlEdRyC6CRYZp4-GLZyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/sZlEdRyC6CRYZvo_GLZyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BngMUXZGTXPUvIoyV6yN5-fN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/nwpTtK2oNgBA3Or78gapdwuyyCg6.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TK3tWkYFABsmjsphPh8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/JTUOjIg1_i6t8kCHKm459WxZqh7k29Y.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_c5H3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWg2.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/qFdH35WCmI96Ajtm81GlU94.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0sw.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/2sDcZG1Wl4LcnbuCJW8zaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RrQRboJg-id7OnbxbEXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ZXuke1cDvLCKLDcimxB44_lr.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/vEFV2_5QCwIS4_Dhez5jcWBuT0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TK3gWksYAxQ7jbsKcg8Ene8.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/UqyVK80NJXN4zfRgbdfbo55cUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/va9c4lja2NVIDdIAAoMR5MfuElaRB0zJt0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/qFdb35qfgYFjGy5hukqqhw5XeRgdi1ryd6DMGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Z9XUDmZRWg6M1LvRYsHOz8mM.ttf) format('truetype');
}
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/buEzpo6gcdjy0EiZMBUG4C0f-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rP2Hp2yn6lkG50LoCZOIGA.ttf) format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD8.ttf) format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4iC86LVlZsRSjQhpWGedwyOoW-0A6_kpsyNmpAzHHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/a8IbNovtLWfR7T7bMJwrA4KU.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HI_OiY8KO6hCsQSoAPmtMYebvpU.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IurY6Y5j_oScZZow4VOxCZZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DPEuYwWHyAYGVTSmalsRcd3b.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gokqH6DoDl5yXvJytFsdLnqguPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SlGQmQieoJcKemNecTUEgA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGeHmmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GP.ttf) format('truetype');
}
@font-face {
  font-family: 'ZCOOL XiaoWei';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/i7dMIFFrTRywPpUVX9_RJyM1UFWaGw.ttf) format('truetype');
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */